// 4
.expand-icon {
    z-index: 0;
    position: absolute;
    top: 20%;
    right: 18px;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    transform: rotate(-90deg);

    &.active {
        color: $main-co;
        transform: rotate(0deg);
        transition: transform 1s ease;
    }
}

// custom phân trang sản phẩm

.pagination {
    clear: both;
    position: relative;
    font-size: 18px;
    /* Pagination text size */
    line-height: 13px;
    float: right;
    /* Pagination float direction */
    cursor: pointer;
}

.pagination span,
.pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 14px 9px 0px 9px;
    width: -webkit-fill-available;
    text-decoration: none;
    width: 44px;
    height: 44px;
    text-align: center;
    //  align-content: center;
    //  align-items: center;
    color: #474747;
    /* Pagination text color */
    border-radius: 50%;
    background: #F9F9F9;
    /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.pagination a:hover {
    color: #fff;
    background: $main-co;
    /* Pagination background on hover */
}

.pagination .current {
    padding: 14px 9px 0px 9px;
    background: $main-co;
    /* Current page background */
    color: #fff;
}

// custom add to cart show modal

.greeting {
    z-index: 999;
    display: none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 250px);

    @media screen and(max-width:540px) {
        width: 337px;
        left: calc(50vw - 165px);

    }

}

// custome backgroud bread crumb
.woocommerce-breadcrumb {
    box-shadow: 0 0 0 100vmax $light-co;

    a {
        color: black !important;
        font-weight: 400;

        &:hover {
            color: $main-co  !important;
            font-weight: 700;
        }
    }

    color: $main-co  !important;
    font-weight: 700 !important;
    padding: 14px 0 !important;
    background-color: $light-co;
    clip-path: inset(0 -100vmax);

}

// customize bread crumb page cart
#breadcrumbs {
    box-shadow: 0 0 0 100vmax $light-co;

    a {
        color: black !important;
        font-weight: 400;

        &:hover {
            color: $main-co  !important;
            font-weight: 700;
        }
    }

    color: $main-co  !important;
    font-weight: 700 !important;
    padding: 14px 0 !important;
    background-color: $light-co;
    clip-path: inset(0 -100vmax);
}

// custome cart icon----------------------
.header-mid__cart {

    // position: absolute;
    .header-cart-mini {
        a {
            position: relative;

            i {
                text-align: center;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: yellow;
                color: black;
                padding: 7px 0px;
            }

            .text-dark {
                background: #f9bc38;
                border-radius: 5px;
                padding: 0 4px;
                display: inline-block;
                position: absolute;
                font-size: 11px;
                line-height: 19px;
                top: -5px;
                right: -12px;
            }
        }
    }
}

// custom imput number product - cart---------

form.cart {
    .qib-container {
        display: none !important;
    }
}



//------------- Side bar filter product--------
.filters-products {


    .yith-wcan-filters {
        border-radius: 8px;

        h4 {
            font-weight: 700;
            color: #ffff !important;
            height: 70px !important;
            padding: 24px 0 24px 24px !important;
            background-color: $main-co;
            cursor: pointer;
            margin: 0 !important;

        }


    }



    .yith-wcan-filters .yith-wcan-filter {
        margin-bottom: 30px;
        border: 1px solid $light-co;
        border-radius: 12px;
        overflow: hidden !important;
        box-shadow: 0px 7px 9px 0px #ad9f9f54;

        @media screen and(max-width: 540px) {
            margin-bottom: 5px;
        }
    }

    .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.active>a,
    .yith-wcan-filters .yith-wcan-filter .filter-items .filter-item.active>label>a {
        color: $main-co  !important;
        font-weight: 700;
    }

    .yith-wcan-filters .yith-wcan-filter ul {
        padding: 0 25px !important;

        li {
            label {
                display: flex !important;
                padding-right: 24px;

                a {
                    flex: auto !important;
                    border-bottom: 1px solid rgba($main-light-co, 0.1) !important;
                    padding: 12px 0;
                    margin-left: 12px;
                }
            }
        }

    }
}







.woocommerce-pagination {
    display: flex;
    justify-content: center;

    ul {
        border: none !important;

        li {
            border: none !important;

            .page-numbers {
                padding: 12px 18px !important;
                border: none;
                margin-right: 9px !important;
                color: #474747;
                background-color: #F9F9F9;
                border-radius: 50%;

                i {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #00A652 !important;
                    color: white !important;
                }
            }

            .current {
                background-color: #00A652 !important;
                color: white !important;
            }
        }
    }
}

// page-single-product

.carttile-text{
    @media screen and (min-width: 1200px) {
      min-height: 48px;
    }

    @media screen and (max-width: 540px) {
        min-height: 40px;
    }
}
.single-product-wp {
    .summary {
        .product_title {
            font-size: 32px;
            font-weight: 700;
            color: #29292E;
            // margin: 0 0 50px;

            @media (max-width: 767px) {
                font-size: 24px;
                margin: 0 0 25px;
            }

            @media (max-width: 540px) {
                font-size: 18px !important;
                margin: 0 0 10px;
            }
        }

        .woocommerce-product-rating {
            .star-rating {
                color: #F3DC0D;
                font-size: 30px;
            }

            .woocommerce-review-link {
                display: none;
            }
        }

        .price {
            font-size: 38px !important;
            color: $main-co  !important;
            border-bottom: 1px dashed #E1E1E1;
            padding: 20px 0 20px 0;

            i {
                transform: rotate(-27deg);
            }

            ins {
                text-decoration: none;
            }

            @media (max-width: 767px) {
                font-size: 36px;
            }
        }

        .cart {
            display: flex;
            flex-direction: column;

            @media (max-width: 767px) {
                margin-bottom: 1.5em !important;
            }

            @media (max-width: 540px) {
                margin-bottom: 0px !important;

                .btn-addcart {
                    .single_add_to_cart_button {
                        height: 40px !important;
                        font-size: 13px;

                    }

                    .buy_now_button {
                        font-size: 13px;
                        height: 40px !important;
                        padding: 0 !important;

                    }
                }
            }

            .quantity {
                display: none;
            }

            .btn-addcart {
                margin: 0 !important;

                .single_add_to_cart_button {
                    height: unset !important;
                    padding: 20px 0;
                    background: $main-co;
                    border-radius: 8px;
                    width: 50%;

                    &:hover {
                        background: $main-dark-co;
                    }
                }

                .buy_now_button {
                    padding: 20px 0;
                    width: 45%;
                    border: 2px solid $main-co;
                    border-radius: 8px;
                    background: #fff;

                    a {
                        color: $main-co;
                    }

                    &:hover {
                        border: 2px solid $main-dark-co;
                        color: $main-dark-co;
                    }

                    i {
                        padding-left: 5px;
                        color: $main-co;
                    }
                }
            }
        }

        .product_meta {
            width: 100%;
            padding: 10px 0;
            font-size: 20px;
            margin-bottom: 40px;

            div {
                margin-bottom: 10px;

                span {
                    font-weight: 400;
                    margin-right: 10px;
                }
            }

            .stock {
                color: #000;
                margin-bottom: 0;
                margin-left: 5px;
            }

            .sku_wrapper {
                padding-bottom: 10px;
                margin-bottom: 8px;
                font-weight: 400;

                .sku {
                    font-weight: bold;
                }
            }
            .posted_in{
                a{
                    color: $main-co !important;
                }
            }

            @media screen and(max-width: 540px) {
                div {
                    font-size: 13px;
                }

                margin-bottom: 0px;
            }
        }
    }

    // Custome tab single-product
    .woocommerce-tabs {
        .woocommerce-Tabs-panel {
            background-color: #F9F9F9;
            padding: 1em 0 0 1em !important;
            figure{
                display: flex !important;
                flex-direction: column !important;
                align-items: center;
                margin: auto;
            }
            img {
                width: unset !important;
            }
        }

        ul.tabs.wc-tabs {
            padding: 0px !important;
            margin: 0 !important;

            li {
                // margin: 0px !important;
                border: unset !important;
                margin: 0 0px !important;
                position: unset !important;
                border-radius: 8px 8px 0 0 !important;
                background-color: #F9F9F9 !important;
                height: 70px;

                a {
                    padding: 23px 0 !important;
                }
            }

            li.active {
                background: $main-co  !important;
                color: #ffff;
                z-index: 2;
                border-bottom-color: #fff;

            }

        }

        @media screen and(max-width:540px) {
            ul.tabs.wc-tabs {
                li {
                    height: 40px;
                    width: 100%;
                    text-align: center;

                    a {
                        padding: 8px 0 !important;
                    }
                }
            }
        }
    }

    // Custome image product - contact phone
    .woocommerce-product-gallery__wrapper {
        position: relative !important;
        border-radius: 10px;
        border: solid 1px $main-co;

        .phone {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0.9;
            height: 75px;

            button {
                font-weight: 500;
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .btn-cus {
                width: 100%;
                height: 100%;
                padding: 6px;
                border-radius: 0px;

                &:hover {
                    color: white;
                    background-color: $main-co;
                }

                .logo {
                    max-width: 50px;
                    max-height: 50px;
                    aspect-ratio: 1/1;
                    margin-right: 20px;
                }
            }
        }

        @media screen and(max-width:540px) {
            .phone {
                height: 45px;

                button {
                    font-weight: 500;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .btn-cus {
                    padding: 6px;
                    border-radius: 0px;

                    &:hover {
                        color: white;
                        background-color: $main-co;
                    }

                    .logo {
                        max-width: 35px;
                        max-height: 35px;
                        aspect-ratio: 1/1;
                        margin-right: 10px;
                    }
                }
            }
        }

    }




    //--------------------
    // .related {
    //     .product-section-title {
    //         @media (max-width: 767px) {
    //             text-align: center;
    //         }
    //     }
    //     .feature-product {
    //         box-shadow: none !important;
    //         // padding: 24px 24px;
    //         padding: 0px 24px 12px 24px !important;
    //         margin: 0;
    //         @media (max-width: 414px) {
    //             padding: 0px 24px 12px 24px !important;
    //         }
    //         .item-product {
    //             border-radius: 20px !important;
    //             box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25) !important;
    //             padding-bottom: 10px;
    //             @media (max-width: 414px) {
    //                 min-height: 280px;
    //             }
    //             .woocommerce-LoopProduct-link {
    //                 img {
    //                     border-radius: 20px;
    //                     // width: 250px !important;
    //                     width: 100% !important;
    //                     height: 230px !important;
    //                     object-fit: cover;
    //                 }
    //                 h2 {
    //                     margin-top: 20px;
    //                     font-size: 24px;
    //                     color: #656565;
    //                     text-align: center;
    //                     font-weight: 600;
    //                     white-space: pre-wrap;
    //                     overflow: hidden;
    //                     text-overflow: ellipsis;
    //                     -webkit-line-clamp: 1;
    //                     -webkit-box-orient: vertical;
    //                     line-height: 31px;
    //                     display: -webkit-box;
    //                     @media (max-width: 414px) {
    //                         line-height: 50px;
    //                     }
    //                 }
    //                 .price {
    //                     display: block;
    //                     // display: inline-block;
    //                     color: #33CC66;
    //                     text-align: center;
    //                     ins {
    //                         text-decoration: none;
    //                     }
    //                     .amount {
    //                         display: block;
    //                         margin: 0 auto;
    //                         text-align: center;
    //                     }
    //                 }
    //                 .star-rating {
    //                     display: none;
    //                 }
    //             }
    //             .product_type_simple {
    //                 display: none;
    //             }
    //             .add_to_cart_button {
    //                 display: none;
    //             }
    //         }
    //     }
    // }
    // .product-related {
    //     width: 92%;
    //     margin: 20px 0;
    //     .button {
    //         @media (max-width: 414px) {
    //             font-size: 14px !important;
    //             min-height: 31.91px !important;
    //         }
    //     }
    // }
    .related-products-wrapper {
        img {
            object-fit: contain;
        }

        .owl-dot {
            &.active {
                border: none;
            }
        }
    }
}

// page cart 
.woocommerce-cart {
    .break-crumb {
        display: none;
    }
}

.woocommerce {
    .custom-cart {
        padding: 0px 0 40px 0;

        .woocommerce-breadcrumb {
            display: none;
        }

        .woocommerce-cart-form {
            .shop_table {
                thead {
                    font-size: 18px;
                }

                tbody {
                    tr {
                        .product-thumbnail {
                            width: 18%;

                            img {
                                width: 100% !important;
                            }
                        }

                        .product-name {
                            a {
                                color: black;
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }

                        .actions {
                            .coupon {
                                .input-text {
                                    width: 165px;
                                    height: 32px;

                                    @media (max-width: 767px) {
                                        width: 140px;
                                        height: 31px;
                                    }

                                    @media (max-width: 360px) {
                                        width: 120px;
                                    }
                                }

                                .button {
                                    padding: 7.3px 1em;
                                    background-color: $main-co;
                                    color: #fff;

                                    @media (max-width: 768px) {
                                        width: 150px;
                                        margin-left: 20px;
                                    }

                                    @media (max-width: 414px) {
                                        width: 110px;
                                        margin-left: 0px;
                                    }

                                    @media (max-width: 330px) {
                                        width: 97px;
                                    }
                                }
                            }
                        }

                        .button {
                            padding: 7.3px 1em;
                            background-color: $main-co;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .cart-collaterals {
            .cart_totals {
                width: 100%;

                .shop_table {
                    tr {
                        th {
                            font-size: 17px;
                            color: #454545;
                            font-weight: 400;
                        }
                    }
                }

                .wc-proceed-to-checkout {
                    a {
                        width: 100%;
                        text-align: center;
                        font-size: 18px;
                        padding: 12px 0;
                        background-color: $main-co;
                        margin-bottom: 10px;
                    }
                }

                .continue_shopping_button {
                    a {
                        width: 100%;
                        border: 2px solid $main-co;
                        background-color: #fff;
                        color: $main-co;
                        text-align: center;
                        // border-radius: 10px;
                    }
                }
            }
        }
    }
}

////checkout
.woocommerce-checkout {
    margin-bottom: 30px;

    .break-crumb {
        display: none;
    }

    .woocommerce-billing-fields {
        &__field-wrapper {
            .input-text {
                border: 1px solid #c4c4c4;
                padding: 4px;
                height: 31px;
            }
        }
    }

    .woocommerce-additional-fields {
        .woocommerce-input-wrapper {
            h3 {
                margin-top: 15px;
            }

            .input-text {
                border: 1px solid #c4c4c4;
                border-radius: 5px;
            }
        }
    }

    .woocommerce-checkout-review-order {
        .woocommerce-checkout-review-order-table {
            td {
                @media (max-width: 321px) {
                    padding: 5px 0px;
                }
            }

            .cart_item {
                .product-thumbnail {
                    width: 150px;
                    height: 150px;
                }

                .product-name {
                    @media (max-width: 321px) {
                        font-size: 13px;
                    }
                }

                .product-total {
                    @media (max-width: 321px) {
                        font-size: 14px;
                    }
                }
            }

            .cart-subtotal {
                th {
                    @media (max-width: 376px) {
                        padding: 5px 2px;
                    }
                }
            }
        }

        .form-row-first {
            input[type="text"] {
                border: 1px solid #c4c4c4;
                // border-radius: 5px;
                height: 31px;
                padding: 7px;
            }
        }

        .form-row-last {
            button[type="submit"] {
                background-color: $main-co;
                color: white;
            }
        }
    }

    .woocommerce-checkout-payment {
        .place-order {
            button[type="submit"] {
                background-color: $main-co;
                color: white;
            }
        }
    }

    .woocommerce-notices-wrapper {
        .woocommerce-message {
            margin: 0 0 0.5rem;

            .wc-forward {
                background-color: $main-co;
                color: white;
            }
        }
    }
}

/// page thank
.woocommerce-order {
    padding-top: 50px;

    @media (max-width: 767px) {
        padding: 30px;
    }

    .woocommerce-order-overview {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-bottom: 0 !important;
        }

        li {
            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }
    }
}

.woocommerce-account {
    .break-crumb {
        display: none;
    }
}

.filters-products {
    form {
        .yith-wcan-filter {
            &:first-child {
                .filter-items {
                    display: flex;
                    flex-direction: column;

                    .filter-item {
                        &:first-child {
                            order: 1;
                        }
                    }
                }
            }
        }
    }
}