.home {
	&-banner {
		height: 376px;
		.banner__left {
			width: calc(100% - 290px);
			float: left;
			position: relative;
			.marquee {
				position: absolute;
				top: 0;
				z-index: 2;
			}
			.home-carousel {
				.item {
					position: relative;
					height: 376px;
					.button {
						cursor: pointer;
						position: absolute;
						bottom: 16px;
						right: 16px;
						font-size: 0.875rem;
						font-weight: 600;
						line-height: 1;
						padding: 0.5rem 1rem;
						background-color: rgb(231, 177, 45);
						color: #fff;
					}
				}
			}
		}
		.banner__right {
			position: relative;
			width: 280px;
			float: right;
			height: 183px;
			&.top {
				margin-bottom: 10px;
			}
			.button {
				cursor: pointer;
				position: absolute;
				bottom: 16px;
				right: 16px;
				font-size: 0.875rem;
				font-weight: 600;
				line-height: 1;
				padding: 0.5rem 1rem;
				background-color: rgb(231, 177, 45);
				color: #fff;
			}
		}
	}
	&-category {
		.title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			margin: 0;
			padding: 0;
			margin-bottom: 1rem;
		}
		.list-category {
			display: grid;
			grid-template-columns: auto auto auto auto;
			border-top: 1px solid rgb(229, 229, 229);
			border-right: 1px solid rgb(229, 229, 229);
			.category-item {
				border-bottom: 1px solid rgb(229, 229, 229);
				border-left: 1px solid rgb(229, 229, 229);
				height: 60px;
				span {
					background-position: center 0px;
					display: inline-block;
					background-size: 220px;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
				}
				&:hover {
					span {
						background-position: center -60px;
						background-color: $main-color;
					}
				}
			}
		}
	}
	&-product {
		.product-title {
			.title {
				font-size: 20px;
				font-weight: 600;
				line-height: 1;
				margin: 0;
				padding: 0;
				margin-bottom: 1rem;
				i {
					margin-left: 10px;
				}
			}
		}
		.product-item {
			border: 1px solid rgb(229, 229, 229);
			.img {
				height: 180px;
				padding-left: 1rem;
				padding-right: 1rem;
				img {
					max-height: 160px;
				}
			}
			.infor {
				min-height: 150px;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				padding-bottom: 0.5rem;
				.name {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;
					height: 2.8rem;
					line-height: 1.4;
					font-weight: 600;
					color: black;
				}
				.category {
					font-size: 14px;
					color: rgb(153, 153, 153);
				}
				.price {
					font-weight: 600;
					font-size: 20px;
					color: black;
					margin-bottom: 3%;
				}
				.button-buy {
					background-color: rgb(231, 176, 44);
					color: #fff;
					font-size: 14px;
					height: 40px;
					&:hover {
						background-color: rgb(241, 208, 128);
					}
				}
			}
		}
	}
	&-product2 {
		background-color: #f5f5f5f7;
		.title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			padding: 0;
		}
		.sub-title {
			margin-bottom: 1rem;
		}
		.product-item {
			.img {
				display: block;
				border: 1px solid #ddd;
				border-radius: 0.37rem;
				overflow: hidden;
				height: 110px;
			}
			.infor {
				padding: 18px 15px;
				.name {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;
					height: 2.8rem;
					line-height: 1.4;
					font-weight: 600;
					color: black;
				}
			}
			&:hover .name {
				color: $main-color;
			}
		}
	}
	&-firm {
		.title {
			font-size: 20px;
			font-weight: 600;
			h2 {
				line-height: 1;
				padding-left: 9px;
				&::before {
					position: absolute;
					content: "";
					height: 1.1em;
					border-left: 3px solid #fa320a;
					margin: -1px 0 0 -9px;
				}
			}
		}
		.sub-title {
			margin-bottom: 1rem;
		}
		.firm-item {
			.img {
				display: block;
				border-radius: 12px;
				overflow: hidden;
			}
			.infor {
				display: block;
				padding-top: 12px;
				.percentage {
					&-img {
						display: block;
						width: 16px;
						height: 16px;
						background-repeat: no-repeat;
						background-size: contain;
					}
					&-num {
						color: black;
						margin-left: 3px;
						font-weight: 600;
						font-size: 16px;
					}
				}
				.name {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 14px;
					height: 2.8rem;
					line-height: 1.4;
					color: black;
				}
			}
		}
		.owl-nav {
			transform: translateY(-100%);
		}
	}
	&-news {
		background-color: #fff1e5;
		.title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			padding: 0;
			margin-bottom: 1rem;
		}
		.news-list {
			border-right: 1px solid #e6d9ce;
			padding-right: 24px;
			.news-sticky {
				a {
					display: block;
				}
				.name {
					font-weight: 500;
					color: #000;
					font-size: 28px;
					line-height: 32px;
					margin-bottom: 0.75rem;
					font-family: FinancierDisplayWeb, serif;
				}
				.desc {
					font-size: 16px;
					line-height: 20px;
					color: #66605c;
				}
			}
			.news {
				font-size: 20px;
				line-height: 24px;
				color: #000;
				font-family: FinancierDisplayWeb, serif;
				height: 100%;
				padding-bottom: 12px;
				border-bottom: 1px solid #e6d9ce;
			}
		}
		.news-most {
			padding-left: 1rem;
			padding-right: 1rem;
			&--title {
				margin: 0;
				padding: 0;
				font-weight: 600;
				color: #000;
				font-size: 16px;
				line-height: 20px;
			}
			&--item {
				border-bottom: 1px solid #e6d9ce;
				padding: 0.75rem 0;
			}
		}
	}
	&-news2 {
		background-color: #fff1e5;
		.title {
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
			padding: 0;
			margin-bottom: 1rem;
		}
		.news-item {
			height: 100%;
			border-bottom: 1px solid #e6d9ce;
			padding: 0.75rem 0;
			.img {
				margin-bottom: 0.75rem;
				height: auto;
			}
			.category {
				font-weight: 600;
				color: #990f3d;
				font-family: MetricWeb, sans-serif;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 0.75rem;
				padding: 0 1rem;
			}
			.title {
				font-weight: 500;
				color: #000;
				font-family: FinancierDisplayWeb, serif;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 0.75rem;
				padding: 0 1rem;
			}
			.desc,
			.time {
				font-size: 16px;
				color: #66605c;
				margin-bottom: 0.75rem;
				padding: 0 1rem;
			}
			&:hover {
				background-color: #fff7ef;
			}
		}
	}
	.separator--dotted {
		background-image: radial-gradient(#212121 20%, transparent 0);
		background-position: 0 0;
		background-size: 3px 3px;
		height: 9px;
		width: 100%;
	}
}
