.hvn_atn-home-product {
    .content {
        .sub-title {
            font-weight: 400 !important;
        }
    }

    .product {
        .nav-pills {
            gap: 24px;

            @media screen and (max-width: 1400px) {
                gap: 8px;
            }

            @media screen and (max-width: 540px) {
                display: flex;
                flex-direction: column;

                li {
                    button {
                        width: 100%;
                    }
                }
            }

            .nav-item {
                .nav-link {
                    border: 1px solid $main-co;
                }
            }
        }

        .tab-content {
            .hvn_atn-home-product--owl-carousel {
                &.owl-carousel .owl-stage-outer {
                    padding: 11px 0px;
                }

                &.owl-carousel .owl-nav {
                    position: absolute;
                    margin: 0;

                    button {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;

                        span {
                            color: $main-co;
                            font-size: 26px;
                            // position: absolute;
                            // top: 0;
                        }
                    }

                    button:hover {
                        background-color: $main-co;

                        span {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }

        }
    }


    .see-more {
        display: flex;
        justify-content: flex-end;
    }
}

.hvn_atn-item {
    .card {
        border-radius: 12px;
        max-width: 336px;
        border: 2px solid white;

        background-color: rgb(255, 255, 255);
        box-shadow: 0px 7px 9px 0px #d3cfcf54;

        &:hover {
            border-color: $main-co;

            .card-contact {
                .btn-cus {
                    color: $main-co;
                    background-color: transparent;
                }
            }
        }

        a {
            width: 100%;

            button {
                width: 100%;
            }
        }

        &-image {
            position: relative;

            img:not(.logo) {
                border-radius: 12px 12px 0px 0px;
                height: 100%;
                object-fit: contain;
                aspect-ratio: 336/334;
            }

            .phone {
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0.9;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .btn-cus {
                    max-height: 43px;
                    padding: 6px;
                    border-radius: 0px;

                    &:hover {
                        color: white;
                        background-color: $main-co;
                    }

                    .logo {
                        max-width: 29.73px;
                        max-height: 27.57px;
                        aspect-ratio: 29.73/27.57;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-body {
            padding: 12px 6px 0 6px;
        }

        &-contact {
            .btn-cus {
                color: $black-co;
                background-color: transparent;
                border: none;
                padding: 24px;
            }
        }
    }

    @media screen and(max-width:540px) {
        .card {
            &-contact {
                .btn-cus {
                    padding: 5px;
                }
            }
        }
    }
}