.test-map {
  position: relative;
  height: 500px;
  width: 100%;
  #sethPhatMap {
    width: 100%;
    height: 100%;
  }

  .map-popup-content {
    width: 350px;
  }

  .leaflet-popup-content-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    min-width: 350px;
    .leaflet-popup-content {
      width: 100% !important;
      margin: 0;
      overflow: hidden;
    }
  }
  .leaflet-popup-tip-container {
    .leaflet-popup-tip {
      background-color: red !important;
    }
  }
}

.test-map-post {
  // height: 150px;

  img {
    height: 100%;
  }
}

.boxsticky-map{
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  padding-bottom: 60px;
}

// swip
// .swiper {
//   width: 100%;
//   height: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     height: calc((100% - 30px) / 2) !important;
  
//     /* Center slide text vertically */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

.test-box-swiper{
  position: relative;
  height: 500px;
  margin-top: 200px;
  .mySwiper1 {
    width: 300px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
}



#mePin{

	path{
		fill:  $main-co;
	}

	.ring_outer {
		animation: opacityPulse 2.0s cubic-bezier(1, 0.14, 1, 1);;
		animation-iteration-count: infinite;
		opacity: .5;
	}
	path.ring_outer{
		//fill: lighten(@color, 40%);
	}

	.ring_inner {
		animation: opacityPulse 2.0s cubic-bezier(0.4, 0.74, 0.56, 0.82);
		animation-iteration-count: infinite;
		opacity: .8;

	}
	path.ring_inner{
		//fill: lighten(@color, 30%);
	}
}




@keyframes opacityPulse {
    0% {opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {opacity: 0.1;}
}

@keyframes bounceInDown {
	from, 60%, 75%, 90%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, 5px, 0);
	}

	75% {
		transform: translate3d(0, -3px, 0);
	}

	90% {
		transform: translate3d(0, 5px, 0);
	}

	to {
		transform: none;
	}
}

.bounceInDown {
	animation-name: bounceInDown;
	animation-duration: 2s;
	animation-fill-mode: both;
}